@use "/src/style/colours.scss";

#CVBody {
	border: colours.$module-border-size solid colours.$module-border-colour;
	border-radius: colours.$module-border-radius;
	padding: 1em 1em;

	text-align: center;
	color: white;

	margin-top: 2vh;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
	margin-bottom: 5vw;

	background-color: colours.$module-background-colour;
}

#DownloadCVButton {
	width: 15em;
	height: 5em;

	margin-bottom: 2em;
}

#CVBody embed {
	height: 100vh;
}
